h1{
    text-align: center;
    font-weight: bolder;
}
.grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
button
{
    height: 200px;
    border: none;
    border-radius: 10%;
    color: transparent;
}
.cat1
{
    background-image: url("./aagh-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat2
{
    background-image: url("./cool-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat3
{
    background-image: url("./doggy.jpeg");
    background-size: cover;
    background-position: center;
}
.cat4
{
    background-image: url("./fahh-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat5
{
    background-image: url("./freaky-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat6
{
    background-image: url("./huh-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat7
{
    background-image: url("./laugh-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat8
{
    background-image: url("./oioiioioi.jpeg");
    background-size: cover;
    background-position: center;
}
.cat9
{
    background-image: url("./sad-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat10
{
    background-image: url("./sleepy-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat11
{
    background-image: url("./sus-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.cat12
{
    background-image: url("./war-cat.jpeg");
    background-size: cover;
    background-position: center;
}
.bawdy
{
    background: linear-gradient(300deg,#D9CFC7,#EFE9E3,#F9F8F6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
